body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px;
}
.login{
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}